.mainContainer {
     width: 100vw;
     display: flex;
     justify-content: center;
     z-index: 99;
     position: sticky;
     top: 0;
}

.colorChange {
     background-color: white;
     box-shadow: 0 5px 5px #00000020;
}

.container {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     padding: 20px 0px;
}

.logo {
     color: var(--primary-blue);
     text-decoration: none;
     list-style: none;
     font-weight: 600;
}

.navBarContainer {
     width: 70%;
     display: flex;
     flex-direction: row;
     justify-content: center;
}

.navBtn {
     list-style: none;
     text-decoration: none;
     color: var(--inactive-text-color);
     margin: 0 4%;
}

.navBtn:hover,
.navBtn.active-tab {
     color: var(--text-color);
}

.getStartedBtnContainer {
     width: auto;
     text-align: right;
}

.menuIcon {
     display: none;
}

@media (max-width: 1024px) {

     .container {
          justify-content: space-between;     
     }

     .navBarContainer {
          display: none;
     }

     .getStartedBtnContainer {
          display: none;
     }

     .menuIcon {
          display: block;
          color: var(--primary-blue);
     }
}