.formContainer {
     margin-bottom: 5%;
     padding: 0 5%
}

.body {
     margin-top: 5%;
}

.alert {
     color: red;
     margin-bottom: 5%;
}

.footer {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}

.nextBtns {
     display: flex;
     column-gap: 20px;
}

.skipBtn {
     text-decoration: underline;
}

.skipBtn:hover {
     color: #777777;
}

.disableBack {
     justify-content: center;
}