:root {
  --primary-blue: #277FD0;
  --secondary-blue: #6FE1FF;
  --background-color: #EDF6FF;
  --text-color: #2A2A2B;
  --inactive-text-color: #8B8B8B;
}

@font-face {
  font-family: 'NatsReg';
  src: url('./fonts/NATS-Regular.ttf');
}

@font-face {
  font-family: 'LexendPetaBold';
  src: url('./fonts/LexendPeta-Bold.ttf');
}

@font-face {
  font-family: 'LexendPetaLight';
  src: url('./fonts/LexendPeta-Light.ttf');
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: NatsReg, sans-serif;
  font-size: 25px;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
