@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #277FD0;
  --secondary-blue: #6FE1FF;
  --background-color: #EDF6FF;
  --text-color: #2A2A2B;
  --inactive-text-color: #8B8B8B;
}

@font-face {
  font-family: 'NatsReg';
  src: url('./fonts/NATS-Regular.ttf');
}

@font-face {
  font-family: 'LexendPetaBold';
  src: url('./fonts/LexendPeta-Bold.ttf');
}

@font-face {
  font-family: 'LexendPetaLight';
  src: url('./fonts/LexendPeta-Light.ttf');
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: NatsReg, sans-serif;
  font-size: 25px;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  font-family: LexendPetaBold;
  letter-spacing: -6px;
  text-align: center;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 120%;
  letter-spacing: -4px;
}

span {
  color: var(--primary-blue);
}

p {
  line-height: 1.2;
  text-align: justify;
  font-family: NatsReg;
}

.description {
  font-family: LexendPetaLight;
  letter-spacing: -2px;
  font-size: 70%;
  text-align: center;
  margin: 20px 0px 60px 0px;
}

.bold {
  color: var(--primary-blue);
}

.contrastText {
  color: white;
}

.contrastBold {
  color: var(--secondary-blue);
}

.button {
  background-color: var(--primary-blue);
  color: white;
  text-transform: none;
  font-family: NatsReg;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  box-shadow: #00000030 0 5px 5px;
}

.button:hover {
  background-color: #1E6AB1;
}

.alert > p {
  text-align: center;
}

@media (max-width: 900px) {
  body {
    font-size: 130%;
  }
}

@media (max-width: 430px) {
  body {
    width: 100vw;
    font-size: 105%;
    overflow-x: hidden;
  }

  h1 {
    font-size: 150%;
    letter-spacing: -3px;
  }

  h2 {
    font-size: 130%;
    letter-spacing: -4px;
  }
}