@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #277FD0;
  --secondary-blue: #6FE1FF;
  --background-color: #EDF6FF;
  --text-color: #2A2A2B;
  --inactive-text-color: #8B8B8B;
}

@font-face {
  font-family: 'NatsReg';
  src: url('./fonts/NATS-Regular.ttf');
}

@font-face {
  font-family: 'LexendPetaBold';
  src: url('./fonts/LexendPeta-Bold.ttf');
}

@font-face {
  font-family: 'LexendPetaLight';
  src: url('./fonts/LexendPeta-Light.ttf');
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: NatsReg, sans-serif;
  font-size: 25px;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  font-family: LexendPetaBold;
  letter-spacing: -6px;
  text-align: center;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

span {
  color: var(--primary-blue);
}

p {
  line-height: 1.2;
  text-align: justify;
}

.description {
  font-family: LexendPetaLight;
  letter-spacing: -2px;
  font-size: 70%;
  text-align: center;
  margin: 20px 0px 60px 0px;
}

.bold {
  color: var(--primary-blue);
}

.contrastText {
  color: white;
}

.contrastBold {
  color: var(--secondary-blue);
}