.contantFormContainer {
    width: 40%;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (max-width: 981px) {
    .contantFormContainer {
        width: 70%;
        margin-bottom: 50px;
    }
}

@media (max-width: 440px) {
    .contantFormContainer {
        width: 90%;
    }
}